.body{
    margin: 0px;
}
.container{
    margin-top:20px;
}
section{
    height:500px;
    padding-bottom: 150px;
}
.logo{
    width: 30%;
}
.header-height{
    height: 50px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 9px 25px;
    cursor: pointer;}
    .carousel-indicators 
    li {
      background-color:gold!important;
    
      height: 10px !important;
      width: 15px !important;
      border: none !important;
      border-radius: 14px !important;
    }
    .bg-2{
        background-image: url(hot-gadgets/bg-1.png) ;
        background-repeat: no-repeat ;
        background-position: left;
        background-size: 60px ;
    }
    .bg-1{
        background-image: url(hot-gadgets/bg-2.png);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position:bottom left;
    }
    .cr-div{ padding-top:30px;

    }
    .smphone{
        height: 900px;
    }
    .smartphone-height{
        padding-top:50px;
    }
    .seeall-color{
        color:goldenrod;
        font-style: bold;
        font-size: 20px;
      font-style: initial;
    }
    .card{
        border: none;
        box-shadow: 10px 5px 10px lightgrey;
        border-radius: 10px;
    }
    .card-footer{
        background-color: white !important;
        border-top: none !important; 
    }
    .footer-image{
        width: 100%;
    }
    .last-div{
        padding-top: 50px ;
        max-width: 100%;
        
    }
    .box-1{
    
        box-shadow: 2px 2px 10px lightgray;
       
       border-radius: 20px;
       
       padding-right: 50px;
       
      
     }
     .box-2{
    
        box-shadow: 2px 2px 10px lightgray;
       
       border-radius: 20px;
       
      
      
     }
     .bag-padding{
         padding-left: 60px;
     }
     
     .bag{
          width: 20%;
     }
    footer{
        text-align: center;
    }
    #cat-last{
        
        
font-weight: 700;

text-decoration: underline;
text-decoration-color:lightslategray;
    }